accelerate==1.13.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
albucore==0.0.24
albumentations==2.0.8
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.97.0
antlr4-python3-runtime==4.9.3
anyio==4.13.0
apache-tvm-ffi==0.1.10
arctic_inference==0.1.1
asc_op_compile_base==0.1.0
asc_opc_tool==0.1.0
astor==0.8.1
attrs==26.1.0
audioread==3.1.0
auto_tune==0.1.0
av==17.0.1
beautifulsoup4==4.14.3
blake3==1.0.8
blinker==1.9.0
boto3==1.43.13
botocore==1.43.13
brotli==1.2.0
cachetools==7.0.6
cbor2==6.0.1
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
cloudpickle==3.1.2
cmake==4.3.2
cobble==0.1.4
colorlog==6.10.1
compressed-tensors==0.13.0
cryptography==47.0.0
dataflow==0.0.1
decorator==5.2.1
depyf==0.20.0
dill==0.4.1
diskcache==5.6.3
distro==1.9.0
dnspython==2.8.0
docstring_parser==0.18.0
einops==0.8.2
email-validator==2.3.0
es_math==1.0.0
et_xmlfile==2.0.0
fast-langdetect==0.2.5
fastapi==0.123.10
fastapi-cli==0.0.24
fastapi-cloud-cli==0.17.1
fastar==0.11.0
fasttext-predict==0.9.2.4
ffmpy==1.0.0
filelock==3.29.0
Flask==3.1.3
flatbuffers==25.12.19
frozenlist==1.8.0
fsspec==2026.4.0
ftfy==6.3.1
ge-py==0.0.1
gguf==0.18.0
googleapis-common-protos==1.74.0
gradio==6.8.0
gradio_client==2.2.0
gradio_pdf==0.0.24
groovy==0.1.2
grpcio==1.80.0
h11==0.16.0
h2==4.3.0
hccl==0.1.0
hf-xet==1.4.3
hpack==4.1.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
httpx-retries==0.5.0
httpx-sse==0.4.3
huggingface_hub==0.36.2
Hypercorn==0.18.0
hyperframe==6.1.0
idna==3.13
ijson==3.5.0
ImageIO==2.37.3
importlib_metadata==8.7.1
interegular==0.3.3
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.14.0
jmespath==1.1.0
joblib==1.5.3
json_repair==0.59.10
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
lark==1.2.2
lazy-loader==0.5
librosa==0.11.0
llguidance==1.3.0
llm_datadist==0.0.1
llm_datadist_v1==0.0.1
llvmlite==0.47.0
lm-format-enforcer==0.11.3
loguru==0.7.3
lxml==6.1.1
magika==1.0.3
mammoth==1.12.0
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mcp==1.27.0
mdurl==0.1.2
memcache_hybrid==1.0.4
memfabric_hybrid==1.0.8
mineru==3.1.15
mineru_vl_utils==1.0.0
mistral_common==1.11.1
model-hosting-container-standards==0.1.14
modelscope==1.36.3
mpmath==1.3.0
msgpack==1.1.2
msgspec==0.21.1
msobjdump==0.1.0
mspti==0.0.1
multidict==6.7.1
networkx==3.6.1
ninja==1.13.0
numba==0.65.1
numpy==1.26.4
omegaconf==2.3.0
onnxruntime==1.26.0
op_compile_tool==0.1.0
op_gen==0.1
op_test_frame==0.1
opc_tool==0.1.0
openai==2.24.0
openai-harmony==0.0.8
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opentelemetry-api==1.41.1
opentelemetry-exporter-otlp==1.41.1
opentelemetry-exporter-otlp-proto-common==1.41.1
opentelemetry-exporter-otlp-proto-grpc==1.41.1
opentelemetry-exporter-otlp-proto-http==1.41.1
opentelemetry-proto==1.41.1
opentelemetry-sdk==1.41.1
opentelemetry-semantic-conventions==0.62b1
opentelemetry-semantic-conventions-ai==0.5.1
orjson==3.11.9
outlines_core==0.2.11
packaging==26.2
pandas==2.3.3
pandas-stubs==3.0.0.260204
partial-json-parser==0.2.1.1.post7
pdfminer.six==20260107
pdftext==0.6.3
pillow==12.2.0
pip==26.0.1
platformdirs==4.9.6
pooch==1.9.0
priority==2.0.0
prometheus_client==0.25.0
prometheus-fastapi-instrumentator==7.1.0
propcache==0.4.1
protobuf==6.33.6
psutil==7.2.2
py-cpuinfo==9.0.0
pybase64==1.4.3
pybind11==3.0.4
pyclipper==1.4.0
pycountry==26.2.16
pycparser==3.0
pydantic==2.13.3
pydantic_core==2.46.3
pydantic-extra-types==2.11.1
pydantic-settings==2.14.0
pydub==0.25.1
Pygments==2.20.0
PyJWT==2.12.1
pylatexenc==2.10
pypdf==6.12.0
pypdfium2==4.30.0
pypptx-with-oxml==1.0.3
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.2
python-json-logger==4.1.0
python-multipart==0.0.27
pytz==2026.2
PyYAML==6.0.3
pyzmq==27.1.0
Quart==0.20.0
qwen-vl-utils==0.0.14
ray==2.48.0
referencing==0.37.0
regex==2026.4.4
reportlab==4.5.1
requests==2.33.1
rich==15.0.0
rich-toolkit==0.19.7
rignore==0.7.6
robust-downloader==0.0.2
rpds-py==0.30.0
s3transfer==0.17.0
safehttpx==0.1.7
safetensors==0.7.0
schedule_search==0.0.1
scikit-image==0.26.0
scikit-learn==1.8.0
scipy==1.17.1
semantic-version==2.10.0
sentencepiece==0.2.1
sentry-sdk==2.58.0
setproctitle==1.3.7
setuptools==79.0.1
setuptools-scm==10.0.5
shapely==2.1.2
shellingham==1.5.4
show_kernel_debug_data==0.1.0
simsimd==6.5.16
six==1.17.0
sniffio==1.3.1
soundfile==0.13.1
soupsieve==2.8.3
soxr==1.0.0
sse-starlette==3.4.1
starlette==0.50.0
stringzilla==4.6.1
superkernel==0.1.0
supervisor==4.3.0
sympy==1.14.0
te==0.4.0
threadpoolctl==3.6.0
tifffile==2026.3.3
tiktoken==0.12.0
tokenizers==0.22.2
tomlkit==0.13.3
torch==2.9.0+cpu
torch_npu==2.9.0.post1+gitee7ba04
torchaudio==2.9.0
torchvision==0.24.0
tqdm==4.67.3
transformers==4.57.6
triton-ascend==3.2.0.dev20260322
typer==0.25.0
typing_extensions==4.15.0
typing-inspection==0.4.2
tzdata==2026.2
urllib3==2.6.3
uv==0.11.16
uvicorn==0.46.0
uvloop==0.22.1
vcs-versioning==1.1.1
vllm==0.18.0+empty
vllm_ascend==0.18.0
watchfiles==1.1.1
wcwidth==0.7.0
websockets==16.0
Werkzeug==3.1.8
wheel==0.47.0
wsproto==1.3.2
xgrammar==0.1.34
xlsxwriter==3.2.9
yarl==1.23.0
zipp==3.23.1
math-verify[antlr4_11_0]==0.7.0
